APP_NAME=Expo Turbo Starter
APP_SLUG=expo-turbo-starter
APP_SCHEME=expo-turbo-starter
IOS_BUNDLE_IDENTIFIER=com.example.expoturbostarter
ANDROID_PACKAGE=com.example.expoturbostarter
# APP_ENV=development
# EAS_PROJECT_ID=
