APP_NAME=Expo Monorepo Starter
APP_SLUG=expo-monorepo-starter
APP_SCHEME=expo-monorepo-starter
IOS_BUNDLE_IDENTIFIER=com.example.expomonorepostarter
ANDROID_PACKAGE=com.example.expomonorepostarter
# EAS_PROJECT_ID=
